/* Especificidade aumentada */
.MuiTypography-root.petExpress {
    color: #000;
    font-family: 'MonumentExtend-UltraBold';
    margin-top: 40px;
    margin-left: 25px;
    font-size: 20px;
  }
  .groupButton {
    display: flex; 
    gap: 40%; 
    margin-left: 20%;
    margin-top: 40px;
  }  
  .MuiButton-root.button {
    font-family: 'Poppins-Bold';
    color: #000;
    text-transform: capitalize;
  }
  .MuiButton-root.buttonEntrar {
    font-family: 'Poppins-Bold';
    font-size: 20px;
    text-transform: capitalize;
    color: #E01483;
    margin-left: 15%;
  }
