/* Padrão geral */
@font-face {
  font-family: "IntegralCF-Bold";
  src: url("../assets//fonts/IntegralCF-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF-Regular";
  src: url("../assets//fonts/IntegralCF-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtend-Regular";
  src: url("../assets//fonts/MonumentExtended-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtend-UltraBold";
  src: url("../assets//fonts/MonumentExtended-Ultrabold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets//fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../assets//fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../assets//fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets//fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets//fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Index */
.MuiTypography-root.titleWelcome {
  font-family: "Poppins-ExtraBold";
  font-size: 1.8rem;
  margin-top: 100px;
  margin-left: 71px;
  margin-right: auto;
  width: 380px;
}

.MuiTypography-root.textWelcome {
  font-family: "Poppins-Regular";
  font-size: 1.5rem;
  width: 100%;
  margin-top: 10px;
  margin-left: 71px;
  margin-right: auto; /* Alinha à esquerda em telas maiores */
}

.MuiButton-root.buttonComecar {
  width: 100%; /* Ajusta a largura do botão */
  max-width: 400px;
  background-color: #eb389a;
  height: 60px;
  margin-left: 70px;
  margin-right: auto; /* Alinha à esquerda em telas maiores */
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Poppins-ExtraBold";
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #fff;
}

.MuiButton-root.buttonComecar:hover {
  background-color: #d72c7a;
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .MuiTypography-root.titleWelcome,
  .MuiTypography-root.textWelcome,
  .MuiButton-root.buttonComecar {
    margin-left: auto;
    margin-right: auto;
  }
  .MuiTypography-root.titleWelcome {
    font-size: 1.4rem;
    width: 250px;
  }
  .MuiTypography-root.textWelcome {
    font-size: 1.2rem;
    width: 250px;
  }
  .MuiButton-root.buttonComecar {
    font-size: 1.4rem;
    width: 90%; /* Ajusta a largura para 90% em telas pequenas */
  }
}

.MuiButton-root.buttonComecar:hover {
  background-color: #d72c7a;
  color: #fff;
  transform: scale(1.05);
}
.MuiTypography-root.titleOnboarding {
  font-family: "IntegralCF-Bold";
  font-size: 2rem;
  color: #eb389a;
}
.MuiTypography-root.textOnboarding {
  font-family: "Poppins-Regular";
  width: 280px;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: "center";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Para centralizar verticalmente */
  padding: 0 20px; /* Um pouco de padding nas laterais para telas pequenas */
}

/* Error */
.containerError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Para centralizar verticalmente */
  padding: 0 20px; /* Um pouco de padding nas laterais para telas pequenas */
}
.MuiTypography-root.textError {
  font-family: "Poppins-Regular";
  font-size: 1.2rem;
  width: 60%;
  max-width: 550px;
  text-align: center;
  margin-top: 20px;
}

.MuiButton-root.buttonError {
  background-color: #eb389a;
  color: #fff;
  margin: 10px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins-Bold";
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 30px;
}

.MuiButton-root.buttonError:hover {
  background-color: #d72c7a;
  color: #fff;
  transform: scale(1.05);
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px; /* Mais espaço no topo */
  padding-bottom: 50px;
  max-width: 1200px; /* Limitando a largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
}

.MuiBox-root.MuiBox-root .MuiGrid-root {
  width: 100%;
  padding: 0 10px;
}

/* Ajustes específicos para SearchBar */
.MuiBox-root.searchBarBox {
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 960px) {
  .content-box {
    padding-top: 20px; /* Menos espaço no topo em telas menores */
    padding-bottom: 20px;
  }

  .MuiBox-root.searchBarBox {
    margin-bottom: 15px; /* Ajustando o espaçamento do SearchBar */
  }
}

@media (max-width: 600px) {
  /* Ajustes mais agressivos para telas pequenas */
  .content-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Mantém o conteúdo responsivo e evita sobreposição */
  .MuiBox-root.MuiBox-root .MuiGrid-root {
    width: 100%;
    margin-bottom: 10px;
  }

  .MuiTypography-root.titleWelcome {
    font-size: 1.4rem;
    width: 100%; /* Permite que o título ocupe toda a largura em telas pequenas */
    margin-left: auto;
    margin-right: auto;
  }

  .MuiTypography-root.textWelcome {
    font-size: 1.2rem;
    width: 100%; /* Ajuste para textos menores */
    margin-left: auto;
    margin-right: auto;
  }

  .MuiButton-root.buttonComecar {
    font-size: 1.4rem;
    width: 90%; /* Ajusta o botão para ocupar 90% da tela */
    margin-left: auto;
    margin-right: auto;
  }
  .containerError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz com que o conteúdo ocupe toda a altura da tela */
    text-align: center;
  }

  .MuiTypography-root.textError {
    width: 80%; /* Para garantir uma melhor adaptação */
    max-width: 100%;
    margin-top: 10px; /* Ajusta a margem para um espaçamento menor em telas pequenas */
  }

  .MuiButton-root.buttonError {
    margin-top: 20px; /* Ajusta o espaçamento dos botões */
  }
}
@media (max-width: 480px) {
  /* Mais ajustes para dispositivos menores como smartphones */
  .MuiTypography-root.titleWelcome {
    font-size: 1.2rem; /* Reduz o tamanho da fonte */
    width: 80%; /* Deixa o título mais adaptável */
  }

  .MuiTypography-root.textWelcome {
    font-size: 1rem;
    width: 80%; /* Deixa o texto mais compacto */
  }
}

.MuiTypography-root.titleOnboarding {
  font-family: "IntegralCF-Bold";
  font-size: 2rem;
  color: #eb389a;
  text-align: center;
}

.MuiTypography-root.textOnboarding {
  font-family: "Poppins-Regular";
  width: 280px;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
}
