/* Padrão geral */
@font-face {
    font-family: 'IntegralCF-Bold';
    src: url('../assets//fonts/IntegralCF-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'IntegralCF-Regular';
    src: url('../assets//fonts/IntegralCF-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MonumentExtend-Regular';
    src: url('../assets//fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MonumentExtend-UltraBold';
    src: url('../assets//fonts/MonumentExtended-Ultrabold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets//fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../assets//fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets//fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets//fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets//fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Index */
  .gridLeft {
    display: flex; 
    height: 100%;  
    flex-direction: column;
}
.MuiTypography-root.title {
    font-family: 'Poppins-ExtraBold';
    font-size: 32px;
    width: 425px;
    margin-top: 100px;
    margin-left: 25px;
}
.MuiTypography-root.textWelcome {
  font-family: 'Poppins-Regular';
  font-size: 26px;
  width: 425px;
  margin-top: 10px;
  margin-left: 25px;
}
.MuiButton-root.buttonComecar {
  width: 425px;
  height: 75px;
  border-radius: 15px;
  background-color: #EB389A;
  margin-top: 30px;
  color: #FFF;
  font-family: 'Poppins-ExtraBold';
  font-size: 32px;
  text-transform: capitalize;
  margin-left: 25px;
}
.gridRight {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;  
  flex-direction: column;
}